body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

/* NAV BAR */
.nav {
  background: #333333;
}

/* INNER CONTAINER */
.nav-inner {
  height: 60px;                /* fixed height: crucial */
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #333333;
}

/* SITE NAME */
.nav-name {
  display: flex;
  align-items: center;
}

.nav-name a {
  color: #ffffff;
  font-size: 14pt;
  font-weight: 500;
  text-decoration: none;
}

/* LINKS CONTAINER */
.nav-links {
  display: flex;
  align-items: stretch;
}

.nav-links a {
  font-size: 12pt;
  display: flex;
  align-items: stretch;
}

/* LINKS */
.nav a {
  display: flex;
  align-items: center;
  height: 100%;

  padding: 0 18px;
  color: #ffffff;
  text-decoration: none;
  /* font-size: 14pt; */

  background: transparent;
  transition: background-color 0.15s ease, color 0.15s ease;
}

/* HOVER TAB */
.nav a:hover {
  background: #ffffff;
  color: #000000;
}

/* ACTIVE TAB */
.nav a.active {
  background: #ffffff;
  color: #000000;
  font-weight: 500;
}

.container {
  font-size: 14pt;
  margin: 30px 50px;
  padding: 0px 50px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds 10px of space between each li element */
}